<table class="table scoreboard">
  <colgroup>
    <col />
    <col span="{{ gameInnings.length }}" />
    <col span="3" />
  </colgroup>
  <thead>
    <tr>
      <th></th>
      @for (inning of gameInnings; track inning) {
      <th
        scope="col"
        [ngClass]="{ currentInning: isCurrentInning(inning.num) }"
      >
        <span>{{ inning.num }}</span>
      </th>
      }
      <th id="scoreboard-runs">R</th>
      <th id="scoreboard-hits">H</th>
      <th id="scoreboard-errors">E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th col="row" [ngClass]="{ currentTeam: toporbot === 'top' }">
        {{ teamAway.name }}
      </th>
      @for (inning of gameInnings; track inning) {
      <td [innerHTML]="inning.top.halfInningRunsForScoreboard"></td>
      }
      <th scope="row" class="font-weight-bold">{{ teamAway.getTeamRuns() }}</th>
      <th scope="row" class="font-weight-bold">{{ teamAway.getTeamHits() }}</th>
      <th scope="row" class="font-weight-bold">
        {{ teamAway.getTeamErrors() }}
      </th>
    </tr>
    <tr>
      <th col="row" [ngClass]="{ currentTeam: toporbot === 'bot' }">
        {{ teamHome.name }}
      </th>
      @for (inning of gameInnings; track inning) {
      <td [innerHTML]="inning.bot.halfInningRunsForScoreboard"></td>
      }
      <th scope="row" class="font-weight-bold">{{ teamHome.getTeamRuns() }}</th>
      <th scope="row" class="font-weight-bold">{{ teamHome.getTeamHits() }}</th>
      <th scope="row" class="font-weight-bold">
        {{ teamHome.getTeamErrors() }}
      </th>
    </tr>
  </tbody>
</table>
