<table class="table scoreboard">
  <colgroup>
    <col>
    <col span="{{ gameInnings.length }}">
    <col span="3">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th scope="col" *ngFor="let inning of gameInnings" [ngClass]="{ 'currentInning': isCurrentInning(inning.num) }">
        <span>{{ inning.num }}</span>
      </th>
      <th id="scoreboard-runs">R</th>
      <th id="scoreboard-hits">H</th>
      <th id="scoreboard-errors">E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th col="row" [ngClass]="{ 'currentTeam': game.getInningHalfCurrent().toporbot === 'top' }">{{ gameTeamAway.name }}</th>
      <td *ngFor="let inning of gameInnings">{{ inning.top.getHalfInningRuns() !== undefined ? inning.top.getHalfInningRuns().toString() : '&nbsp;' }}</td>
      <th scope="row" class="font-weight-bold">{{ gameTeamAway.getTeamRuns() }}</th>
      <th scope="row" class="font-weight-bold">{{ gameTeamAway.getTeamHits() }}</th>
      <th scope="row" class="font-weight-bold">{{ gameTeamAway.getTeamErrors() }}</th>
    </tr>
    <tr>
      <th col="row" [ngClass]="{ 'currentTeam': game.getInningHalfCurrent().toporbot === 'bot' }">{{ gameTeamHome.name }}</th>
      <td *ngFor="let inning of gameInnings">{{ inning.bot.getHalfInningRuns() !== undefined ? inning.bot.getHalfInningRuns().toString() : '&nbsp;' }}</td>
      <th scope="row" class="font-weight-bold">{{ gameTeamHome.getTeamRuns() }}</th>
      <th scope="row" class="font-weight-bold">{{ gameTeamHome.getTeamHits() }}</th>
      <th scope="row" class="font-weight-bold">{{ gameTeamHome.getTeamErrors() }}</th>
    </tr>
  </tbody>
</table>
