<table class="table scoreboard">
  <colgroup>
    <col>
    <col span="{{game.innings.length}}">
    <col span="3">
  </colgroup>
  <thead>
    <tr>
      <th></th>
      <th scope="col" *ngFor="let i of game.innings">
        <em *ngIf="game.inning_current === i">{{i.num}}</em>
        <span *ngIf="game.inning_current !== i">{{i.num}}</span>
      </th>
      <th id="scoreboard-runs">R</th>
      <th id="scoreboard-hits">H</th>
      <th id="scoreboard-errors">E</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th col="row">{{teamAway.name}}</th>
      <td *ngFor="let i of game.innings">{{i?.top?.runs}}</td>
      <th scope="row" class="font-weight-bold">{{teamAway.runs}}</th>
      <th scope="row" class="font-weight-bold">{{teamService.teamHits(teamAway)}}</th>
      <th scope="row" class="font-weight-bold">{{teamAway.errors}}</th>
    </tr>
    <tr>
      <th col="row">{{teamHome.name}}</th>
      <td *ngFor="let i of game.innings">{{i?.bot?.runs}}</td>
      <th scope="row" class="font-weight-bold">{{teamHome.runs}}</th>
      <th scope="row" class="font-weight-bold">{{teamService.teamHits(teamHome)}}</th>
      <th scope="row" class="font-weight-bold">{{teamHome.errors}}</th>
    </tr>
  </tbody>
</table>
