/* Application-wide Styles */
h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.app {
  margin: 2em;
  background-color: burlywood;
  z-index: 0;
}
.app,
input[type="text"] {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.plate {
  z-index: 1;
  min-width: 420px;
}

.result {
  z-index: 2;
  overflow-y: auto;
  max-width: 385px;
  max-height: 190px;
  margin-bottom: 0;
}
